/*
Copyright (C) Mervin Tan Kok Wei from 2014 to Present
All Rights Reserved
www.mervintan.com

File Author:  mervintankw
File Name:    style.css
Date Created: Mar 26, 2015
Time Created: 8:33:03 PM
*/
/* 
    Created on : Mar 26, 2015, 8:33:03 PM
    Author     : mervintankw
*/

@font-face {
    font-family: 'Roboto Condensed', sans-serif;
}

.horizontal-line {
    border-bottom: 1px solid #D8D8D8;
    margin-bottom: 15px;
}

.blank-space {
    padding: 15px 0 15px 0;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar {
    margin-bottom: 0px;
}

.landing-banner {
    background: url('../img/bt_background.jpg') center center;
    background-size: cover;
    height: 30%;
}

.banner-text,
.banner-text-author {
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 40px;
}

.banner-text-bg {
    height: 40%;
    margin-top: 70px;
    padding-top: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    background: rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0.9);
}

/**
*   blog posts at landing page
*/
.panel-image {
    position: relative;   
}
.panel-image img.panel-image-preview {
    width: 100%;
    /*border-radius: 4px 4px 0px 0px;*/
}

.panel-image label {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.panel-heading ~ .panel-image img.panel-image-preview {
    border-radius: 0px;
}

.panel-body {
    overflow: hidden;
}

.panel-image ~ input[type=checkbox] {
    position:absolute;
    top:- 30px;
    z-index: -1;   
}

.panel-image ~ input[type=checkbox] ~ .panel-body {
    height: 0px;
    padding: 0px;
}

.panel-image ~ input[type=checkbox]:checked ~ .panel-body {
    height: auto;
    padding: 15px;
}

.panel-image ~ .panel-footer a {
    padding: 0px 10px;
    font-size: 1.3em;
    color: rgb(100, 100, 100);
}

#loading{
    display:none;
    position:fixed;
    left:50%;
    top:50%;
    z-index: 999;
}

#blogPostSection {
    position: relative;
    max-width: 100%;
    width: 100%;
}

.white-panel {
    position: absolute;
    background: white;
    /*box-shadow: 0px 1px 2px rgba(0,0,0,0.3);*/
    padding: 10px;
}
.white-panel h1 {
    font-size: 1em;
}
.white-panel h1 a {
    color: #A92733;
}


/*
*   user profile
*/
.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}